// BTN
mixin btn(data)
	.btn-global.btn(class=data.class data-target=data.target ? data.target : '' class=data.trigger ? data.trigger : '')
		if data.link 
			a(href="/")
				p=data.name
				.global_btn_icon
					+icon('arrow-right-work')
		else 
			button(type=data.type ? data.type : 'button')
				p=data.name
				.global_btn_icon
					+icon('arrow-right-work')
// BTN

// INPUT 
mixin input(data)
	if data.btn
		.global_btn.btn(class=`${data.class}_btn_w`)
			input(type="submit" value=data.val ? data.val : 'Отправить')
	else
		.global_input(class=`${data.class}_input_w`)
			input(type=data.type ? data.type : 'text' name=data.name ? data.name : `${data.class}_input` placeholder=data.place ? data.place : '')
// INPUT

// Policy
mixin policy(data)
	.global_policy_form(class=data.class ? data.class : '')!=`Отправляя данные, вы соглашаетесь с <a target="_blank" href="/policy.html">политикой конфиденциальности.</a>`
// Policy

// Subcategory


mixin sub(data)
	li.subcat_card(data-aos="fade-up") 
		a(href="/")
			.subcat_img 
				img(src=`i/sub/${data.img}.jpg` ? `i/sub/${data.img}.jpg` : `i/sub/mobile.jpg`, alt="")
			h3=data.name ? data.name : 'Мобильные шатры'

// Subcategory

// Service card

mixin serviceCard(data)
	li.serviceCard(data-aos="fade-up") 
		.serviceCard_img 
			a(href="/")
				img(src=`i/service/${data.img}.jpg`, alt="")
		.serviceCard_content 
			.serviceCard_content_head 
				h3=data.title 
				p=`от ${data.price} руб.`
			.serviceCard_content_txt.global_txt 
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
			.serviceCard_btn_group 
				+btn({
					name: 'Заказать',
					class: 'btn_arr'
				})
				+btn({
					name: 'Подробнее',
					class: 'btn_arr',
					link: true
				})
// End service card

// Gallery

mixin gallery(data)
	section.globalGallery(data-aos="fade-up") 
		.section_in 
			.gallery_main 
				.gallery_head 
					.gallery_title 
						h4=data.title
					.gallery_nav(class=`${data.class}_nav`) 
						.gallery_nav_btn(class=`${data.class}_prev`)
							+icon('prev')
						.gallery_nav_btn(class=`${data.class}_next`)
							+icon('prev')
				.gallery_slider_w 
					.gallery_slider.swiper 
						.swiper-wrapper 
							-for(i = 0; i < data.count; i++)
								- let slide = `i/${data.img}/${data.img}_${i}.jpg`
									.swiper-slide 
										.gallery_slide 
											a(href=slide data-fancybox="gallery")
												img(src=slide, alt="")
						.gallery_bottomNav 
							.gallery_scrollbar 
							.gallery_pagination

// End gallery

// Work gallery

mixin gallerySmall(data)
	section.globalGallery 
		.section_in 
			.gallery_main 
				.gallery_head 
					.gallery_title 
						h4=data.title
					.gallery_nav(class=`${data.class}_nav`) 
						.gallery_nav_btn(class=`${data.class}_prev`)
							+icon('prev')
						.gallery_nav_btn(class=`${data.class}_next`)
							+icon('next')
				.gallery_slider_w 
					.gallery_slider.swiper 
						.swiper-wrapper 
							-for(i = 0; i < data.count; i++)
								- let slide = `i/${data.img}/${data.img}_${i}.jpg`
									.swiper-slide 
										.gallery_slide 
											a(href="/")
												img(src=slide, alt="")
						.gallery_bottomNav 
							.gallery_scrollbar 
							.gallery_pagination

// End

// Snippet text-seo

mixin seo(data)
	.text-seo 
		.section_in 
			.text-seo-main(class=data.class data-aos="fade-up")
				h2 Текст для СЕО
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				h3 Заголовок H3
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.